<div id="welcome-container">
    <div id="text-container">
        <div class="container">
            <div class="row">
                <div class="col-xl-7 col-lg-9 col-md-8 col-sm-9">
                    <div>
                        <h1 class="cd-headline letters scale">Bienvenidos a tu Clinica Online
                           
                        </h1>
                        <p>¿Necesitas sacar un turno?

                        </p>
                        <p>Conocé todas las especialidades médicas que tenemos para vos. 
                            Sacá turno con el especialista que necesites en tan solo un click.
                        </p>
    
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>