#container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f7f9fc;
  

  mat-card {
    padding: 2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;

    .section-tittle2 {
      margin-bottom: 1rem;
      h2 {
        font-size: 1.8rem;
        color: #007bff;
      }
    }

    .form-box {
      margin-bottom: 1rem;
      
      .input-field {
        width: 100%;
        padding: 0.8rem;
        font-size: 1rem;
        border: 1px solid #ced4da;
        border-radius: 4px;
        transition: border-color 0.3s ease;

        &:focus {
          border-color: #007bff;
          outline: none;
        }
      }
      
      .error-message {
        color: #ff0000;
        font-size: 0.875rem;
      }
    }

    .about-btn1 {
      text-align: center;

      .btn {
        padding: 10px 20px;
        border: none;
        background-color: #007bff;
        color: white;
        cursor: pointer;
        border-radius: 4px;
        font-size: 1rem;
        transition: background-color 0.3s ease;

        &:hover {
          background-color: #0056b3;
        }
      }
    }
  }

  .container-btn-rapidos {
    text-align: center;
    margin: 1.5rem 0;
    
  }

  .d-flex {
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
    
    .profile-button {
      width: 80px;
      height: 80px;
      padding: 0;
      border: 2px solid #ccc;
      border-radius: 8px;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: border-color 0.3s ease;
      
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      &:hover {
        border-color: #007bff;
      }
    }
  }
}
